
.root {
    -fx-position-shape: fixed;
    -fx-fill-width: 50%;
    -fx-fill-height: 100%;
    -fx-background-color:#00a7aa;

}
.back1{
    -fx-background-color: #404040;
    -fx-background-position: 75% 25%;

}
.button {
   // -fx-background-color: #fff3b2;
    -fx-border-color: #fff3b2;
    -fx-font-size: 20;

}
.menu-bar {
    -fx-background-color: #404040;
    -fx-text-color : grey;
    -fx-text-fill: #404040;

    }
.menu {
    -fx-background-color: #404040;
    -fx-border-color: #404040;
    -fx-color-label-visible: #404040;
    -fx-text-style: grey;

}

.menu-item{
    -fx-background-color:#404040 ;
    -fx-border-color: #404040;
    -fx-text-style: #C9C9C9;

}